.upcoming-deadline-container {
    height: 60%;
    display: flex;
    flex-direction: column;
}

.upcoming-deadline-card {
    color: white !important;
    background-color: var(--offblack) !important;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.upcoming-deadline-body::-webkit-scrollbar {
    width: .6rem;
    background-color: rgba(0, 0, 0, 0.15);
}

.upcoming-deadline-body::-webkit-scrollbar-track {
    background-color: var(--offblack);
    border-radius: 10px;
}

.upcoming-deadline-body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.upcoming-deadline-title {
    position: sticky;
    padding-top: .2rem;
    top: 0;
    background-color: var(--offblack);
    z-index: 1;
}

.upcoming-deadline-body {
    height: 100%;
    overflow-y: auto;
    padding-top: 0 !important;
}

.upcoming-deadline-task {
    flex-grow: 1; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    background-color: var(--neongreen);
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 1rem;
}

.upcoming-deadline-task-details-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.upcoming-deadline-task-details-top h4 {
    margin-right: 10px;
}

@media screen and (max-width: 1215px) and (min-width: 768px) {
    .upcoming-deadline-task-details-top {
        flex-direction: column;
    }

    .upcoming-deadline-task {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .upcoming-deadline-task-details-bottom {
        margin-top: .3rem;
        padding-top: .3rem;
        border-top: 2px solid rgba(0, 0, 0, .1);
    }
}