.upcoming-deadline-card {
    color: white !important;
    background-color: var(--offblack) !important;
    height: 100%;
}


.upcoming-deadline-card::-webkit-scrollbar {
    width: .6rem;
    background-color: rgba(0, 0, 0, 0.15);
}

.upcoming-deadline-card::-webkit-scrollbar-track {
    background-color: var(--offblack);
    border-radius: 10px;
}

.upcoming-deadline-card::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.upcoming-deadline-card::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, .85);
}

.upcoming-deadline-task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    background-color: var(--neongreen);
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: .6rem;
}
.upcoming-deadline-card-title {
    position: sticky;
    padding: .4rem;
    top: 0;
    background-color: var(--offblack);
}

.upcoming-deadline-task-details-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1215px) and (min-width: 768px) {
    .upcoming-deadline-task-details-top {
        flex-direction: column;
    }

    .upcoming-deadline-task {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .upcoming-deadline-task-details-bottom {
        margin-top: .3rem;
        padding-top: .3rem;
        border-top: 2px solid rgba(0, 0, 0, .1);
    }
} 
