.project-members-container {
    border-radius: 10px;
    background-color: var(--offblack);
    color: white;
    padding: 1rem 2rem;
    min-width: 550px;
}

.project-members-title {
    margin-bottom: .8em;
}

.member-card-container {
    display: flex;

    padding: .5em 0;
    margin-bottom: .5em;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 17px;
}

.member-card-left {
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 0 10px;
}

.member-card-right {
    display: flex;
    margin-left: auto;
    padding: 0 10px;
    align-items: center;
}

.remove-member-icon, .member-icon {
    cursor: pointer;
}

.add-member-btn {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    background-color: #0D99FF !important;
    border-color: #0D99FF !important;
    font-weight: 500 !important;
}

.add-member-btn > p {
    margin-bottom: 0;
}