.progress-card {
    padding: 1rem;
}

.progress-card-body {
    padding: 1rem .4rem;
}

.progress-card-title {
    padding: .4rem;
}

.project-progress-card {
    border-radius: 5px !important;
    border: 1px solid black !important;
    margin-bottom: 1rem;
}

.progress-accordion-header .accordion-button:not(.collapsed) {
    color: unset !important;
    background-color: transparent !important;
}

.progress-accordion-header .accordion-button:focus {
    border-color: transparent !important;
    box-shadow: none !important;
}

.progress-accordion-header .accordion-button::after {
    background-image: url(up-arrow.svg) !important;
}
