.navbar {
    border-bottom: 2px solid black;
}

.navbar-brand {
    padding-left: 2em;
}

.navbar-toggler {
    padding-right: 2em;
}

.navbar-nav {
    gap: 2em;
}

.modal-body {
    background-color: var(--offblack);
    border-radius: 5px;
}

.account-form-fields > input {
    color: #ffffff !important;
}

.form-container {
    text-align: center;
    color: #ffffff;
    margin-top: 45px;
    margin-bottom: 5px;
}

.form-container > header {
    font-size: 1.39rem;
    font-weight: 700;
    margin: 0 auto 60px auto;
    position: relative;
    height: 25px;
    width: 250px;
    overflow: hidden;
}

.header-headings {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    transition: all .4s cubic-bezier(.785, .135, .15, .86);
}

.header-headings>span {
    margin: -4.9px 0;
}

.header-headings.sign-in {
    transform: translateY(0);
}

.header-headings.sign-up {
    transform: translateY(-25px);
}

.header-headings.forgot {
    transform: translateY(-50px);
}

.options {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: 380px) {
    .options {
        width: 100%;
    }
}

.options > p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: all .2s ease;
    color: #ffffff;
    font-weight: 500;
}

.options > p:hover {
    opacity: 1;
}

.options > p.active {
    opacity: 1;
}

.options:nth-of-type(2) {
    padding-left: 15px;
}

.options > p:last-child {
    margin-left: auto;
}

.account-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.account-form-fields {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(.785, .135, .15, .86);
}

.account-form-fields.sign-in {
    max-height: 123px;
}

.account-form-fields.sign-up {
    max-height: 250px;
}

.account-form-fields.forgot {
    max-height: 61px;
}

.account-form-fields .form-control {
    border: 0;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1rem;
    color: #ffffff; 
    border-radius: 5px;
}

.account-form-fields .form-control::placeholder {
    color: #aaa;
}

.account-form-fields .form-control::-webkit-input-placeholder {
    color: #aaa;
}

.account-form-fields .form-control:-ms-input-placeholder {
    color: #aaa;
}

.account-form-fields .form-control:focus {
    outline: none;
}

.btn-submit-form {
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    padding: 15px 0;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    background: #4D6FE5;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .13);
    transition: all 0.2s ease;
}

.btn-submit-form:hover {
    background: darken(#4D6FE5, 2%);
}

.btn-submit-form:active,
.btn-submit-form:focus {
    outline: none;
    background: darken(#4D6FE5, 7%);
}

.nav-item button {
    border-radius: 20px !important;
    border: 2px solid;
    padding: 0.5em 2.5em;
    font-size: 1em;
    font-weight: 500;
    background-color: var(--offwhite);
    cursor: pointer;
    transition: border-color 1s;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        justify-content: flex-end;
        flex-basis: auto;
        padding-right: 1em;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-basis: auto;
        padding-left: 1em;
    }

    .nav-item button {
        padding: 0.5em 3.5em;
    }
}