.navbar {
    border-bottom: 2px solid black;
}

.navbar-brand {
    padding-left: 2em;
}

.navbar-toggler {
    padding-right: 2em;
}

.navbar-nav {
    gap: 2em;
}

.header-nav-item:last-child > a {
    padding: 0.5em 2.5em;
    border-radius: 30px;
    border-width: 2px;
    font-weight: 500;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        justify-content: flex-end;
        flex-basis: auto;
        padding-right: 1em;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-basis: auto;
        padding-left: 1em;
    }

    .nav-item button {
        padding: 0.5em 3.5em;
    }
}