.dashboard-container {
    margin-left: 3em;
    margin-right: 8em;
}

.top-dashboard-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1em 0 !important;
    color: white;
    text-align: center;
}

.top-dashboard-cards-col {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neongreen);
    border-radius: 5px !important;
}

.top-dashboard-cards:first-child {
    background-color: var(--offblack);
}

.top-dashboard-cards-col {
    padding: 0.5rem;
}

.in-progress { 
    background-color: var(--offblack) !important;
    color: white !important;
}

.create-task-col-btn {
    display: flex;
    align-items: center;
}

.create-task-btn {
    width: 50%;
    padding: 1.3rem 1rem !important;
    border-color: var(--btn-bg) !important;
    background-color: var(--btn-bg) !important;
}

@media screen and (max-width: 992px) {
    .dashboard-container {
        margin-left: 1em;
        margin-right: 1em;
    }

    .create-task-col-btn {
        display: flex;
        justify-content: center;
        margin-top: 10px !important;
    }

    .create-task-btn {
        width: 100%;
    }
}
