.chart-responsive-container {
    background-color: white;
    border: 1px solid #dee2e6;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: .5em;
}

.charts-tabs-nav {
    border-radius: 10px;
    border-bottom: none !important;
}

.charts-tabs-nav-link:not(.active) {
    background-color: #DBDBDB;
}

@media screen and (max-width: 768px) {
    .charts-tabs-nav {
        margin-top: 1em;
    }
}